

h1 {
    color: green;
    text-decoration:  red underline dotted;
}



h2 {
    color: #1460aa;
}

.red-header{
    color:red;
}
.white-blue-gradient-background{
    background: linear-gradient(0.6turn, #3f87a6, #ebf8e1, #f69d3c);
    height: 100vh;
}

a{
    color: #1460aa;
}
.yellow-header{
    color: yellow;
}